<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Notes manager</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
</head>
<body>
<div class="container-fluid text-center">
    <div><h1>Notes</h1></div>
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Content</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="note: ${notes}" class="align-middle">
            <td class="h3" th:text="${note.id}"></td>
            <td class="h3" id="title" th:text="${note.title}"></td>
            <td class="h4" id="content" th:text="${note.content}"></td>
            <td>
                <form action="#" th:action="@{'/note/edit/' + ${note.id}}" method="get">
                    <input type="submit" value="Edit" class="btn btn-primary">
                </form>

                <form action="#" th:action="@{'/note/delete?id=' + ${note.id}}" method="post">
                    <input type="submit" value="Delete" class="btn btn-primary">
                </form>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <form action="#" th:action="@{/note/create}" method="post">
            <tr>
                <td>
                    <input type="submit" value="Add new note" class="btn btn-primary">
                </td>
                <td>
                    <input type="text" class="form-control" id="NewTitle" name="title" placeholder="Enter note title">
                </td>
                <td>
                    <input type="text" class="form-control" id="NewContent" name="content"
                           placeholder="Enter note text">
                </td>
                <td>

                </td>
            </tr>
        </form>
        </tfoot>
    </table>
</div>
</body>
</html>